{% extends "template.html" %}

{% set active_page = active_page|default('opportunities') -%}

{% block title %}Opportunities{% endblock %}

{% block body %}

<!-- SIDENAV -->
<div class="sidenav">
  <form class="w-100" action="/opportunities" method="POST">
    <h5> <b> Refine Results </b> </h5> <hr>
    <input style="margin-bottom: 2vh;" class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
    <select style="margin-bottom: 2vh;" class="form-control" id="sort" name="sort">
        <!-- <option type="hidden" value="default">Select a sort</option> -->
        <option value="dateposted-desc" id="dateposted-desc">Date Created (Newest - Oldest)</option>
        <option value="dateposted-asc" id="dateposted-asc"> Date Created (Oldest - Newest)</option>
        <option value="deadline-desc" id="deadline-desc"> Deadline (Most Recent - Least Recent)</option>
        <option value="deadline-asc" id="deadline-asc"> Deadline (Most Recent - Least Recent))</option>
        <option value="cost-desc" id="cost-desc"> Price ($ - $$$$)</option>
        <option value="cost-asc" id="cost-asc"> Price ($$$$ - $)</option>
    </select>

    <button style="margin-bottom: 2vh;" class="btn btn-primary btn-sm form-control" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Filter &#9662;
    </button>
    <br>
    <div class="collapse" id="collapseExample" style="margin-bottom: 2vh;">
    <div class="card card-body">
    <div class="overflow-auto">
      <b> Field </b>
      <br>
      <input type="checkbox" name="field-Academic Programs" value="Academic Programs">
      <label for="field1"> Academic Programs </label><br>
      <input type="checkbox" name="field-Business & Jobs" value="Business & Jobs">
      <label for="field2"> Business & Jobs </label><br>
      <input type="checkbox" name="field-Community Service" value="Community Service">
      <label for="field3"> Community Service</label><br>
      <input type="checkbox" name="field-Govt & Law" value="Govt & Law">
      <label for="field4"> Govt & Law </label><br>
      <input type="checkbox" name="field-Leadership & Advocacy" value="Leadership & Advocacy">
      <label for="field5"> Leadership & Advocacy </label><br>
      <input type="checkbox" name="field-Museums & Art" value="Museums & Art">
      <label for="field6"> Museums & Art </label><br>
      <input type="checkbox" name="field-Parks, Zoos, & Nature" value="Parks, Zoos, & Nature">
      <label for="field7"> Parks, Zoos, & Nature </label><br>
      <input type="checkbox" name="field-Engineering, Math, & CS" value="Engineering, Math, & CS">
      <label for="field8"> Engineering, Math, & CS </label><br>
      <input type="checkbox" name="field-Medical & Life Sciences" value="Medical & Life Sciences">
      <label for="field9"> Medical & Life Sciences</label><br>
      <input type="checkbox" name="field-Literature" value="Literature">
      <label for="field10"> Literature</label><br>
      <input type="checkbox" name="field-Performing Arts" value="Performing Arts">
      <label for="field11"> Performing Arts</label><br>
      <input type="checkbox" name="field-Visual Arts" value="Visual Arts">
      <label for="field12"> Visual Arts</label><br>
      <br>
      <label for="minPrice"><b> Maximum Price </b> </label> <br>
      <div style="width: 16vw;" class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">$</div>
        </div>
        <input type="number" class="form-control" id="maxPrice" aria-describedby="" value="None" min="0" placeholder="Enter price">
      </div>
      <br>

      <b> Grade </b> <br>
      <input type="checkbox" name="FROSH" value="FROSH">
      <label for="grade1"> Freshman </label><br>
      <input type="checkbox" name="SOPH" value="SOPH">
      <label for="grade2"> Sophomore </label><br>
      <input type="checkbox" name="JUNIOR" value="JUNIOR">
      <label for="grade3"> Junior </label><br>
      <input type="checkbox" name="SENIOR" value="SENIOR">
      <label for="grade4"> Senior </label><br>

      <br>

      <b> Gender </b> <br>
      <input type="checkbox" name="CO-ED" value="CO-ED">
      <label for="gender1"> Co-ed </label><br>
      <input type="checkbox" name="MALE" value="MALE">
      <label for="gender2"> Male only </label><br>
      <input type="checkbox" name="FEMALE" value="FEMALE">
      <label for="gender3"> Female only </label><br>
      </div>
      </div>
      </div>
      <button class="btn btn-outline-primary btn-sm w-100" type="submit">Show Results</button>
  </form>
</div>

<!-- OPPORTUNTIIES (right) -->
<div class="opportunities">
  {% for opp in opportunityList %}
  <div class="opp-block">
    <br>
    <a href="/opportunities/{{ opp.opportunityID }}"><h3>{{ opp.title }}</a> &nbsp;
    <!-- field -->
      {% if opp.field %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp;  {{ opp.field }} &nbsp; </a> &nbsp;
      {% endif %}
    </h3></a>
    <!-- date -->
    {% if date[opp.opportunityID][0] or date[opp.opportunityID][1] %}
    <span>
      {% if date[opp.opportunityID][0] %}
      {{ date[opp.opportunityID][0] }}
      {% endif %}
      {% if date[opp.opportunityID][1] %}
      - {{ date[opp.opportunityID][1] }}
      {% endif %}
    {% endif %}

    {% if date[opp.opportunityID][2] %}
    <br>
    <b>DEADLINE: {{ date[opp.opportunityID][2] }} </b>
    {% endif %}

    <br>
    <hr>
    </span>
    <!-- location -->
    <p><b>{{ opp.location }}</b></p>

    <!-- description -->
    <p>{{ opp.description }}</p>
    <!-- links -->
    {% for link in opp.links %}
    <a href="{{ link }}">{{ link }}</a> <br>
    {% endfor %}

    <hr>

    <!-- tags -->
    <div class="tag-block">
      <!-- gender -->
      {% if opp.gender %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; {{ opp.gender }} &nbsp; </a> &nbsp;
      {% endif %}

      <!-- cost (if free) -->
      {% if opp.cost == 0 %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; free &nbsp;</a> &nbsp;
      {% endif %}

      <!-- grades -->
      {% for grade in opp.grades %}
      {% if grade == 9 %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; freshmen &nbsp; </a> &nbsp;
      {% elif grade == 10 %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; sophomores &nbsp; </a> &nbsp;
      {% elif grade == 11 %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; juniors &nbsp; </a> &nbsp;
      {% elif grade == 12 %}
      <a class="btn btn-primary btn-sm" href="/opportunities">&nbsp; seniors &nbsp; </a> &nbsp;
      {% endif %}
      {% endfor %}

      <a style="float: right; font-size: 20px" class="text-secondary star" href="/opportunities"><i class="fa fa-star" aria-hidden="true"></i></a>
    </div>


    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
