{% extends "template.html" %}

{% set active_page = active_page|default('opportunities') -%}

{% block title %}Opportunities{% endblock %}

{% block body %}

<!-- SIDENAV -->
<div class="sidenav">
  <form class="w-100">
    <input style="margin-bottom: 2vh;" class="form-control" type="search" placeholder="Search" aria-label="Search">
    <select style="margin-bottom: 2vh;" class="form-control" method="post" id="sort">
        <option type="hidden">Select a sort</option>
        <option value="dateposted-asc" id="dateposted-asc"> Date created (↑)</option>
        <option value="dateposted-desc" id="dateposted-desc">Date created (↓)</option>
        <option value="deadline-asc" id="deadline-asc"> Deadline (↑)</option>
        <option value="deadline-desc" id="deadline-desc"> Deadline (↓)</option>
        <option value="cost-asc" id="cost-asc"> Price (↑)</option>
        <option value="cost-desc" id="cost-desc"> Price (↓)</option>
    </select>
    <div class="overflow-auto">
      <b> FIELD </b> <br>
      <input type="checkbox" name="ACADEMIC" value="ACADEMIC">
      <label for="field1"> Academic Programs </label><br>
      <input type="checkbox" name="BUSINESS" value="BUSINESS">
      <label for="field2"> Business & Jobs </label><br>
      <input type="checkbox" name="COMMUNITY" value="COMMUNITY">
      <label for="field3"> Community Service</label><br>
      <input type="checkbox" name="GOVT" value="GOVT">
      <label for="field4"> Govt & Law </label><br>
      <input type="checkbox" name="LEADERSHIP" value="LEADERSHIP">
      <label for="field5"> Leadership & Advocacy </label><br>
      <input type="checkbox" name="MUSEUMS" value="MUSEUMS">
      <label for="field6"> Museums & Art </label><br>
      <input type="checkbox" name="NATURE" value="NATURE">
      <label for="field7"> Parks, Zoos, & Nature </label><br>
      <input type="checkbox" name="ENGINEERING" value="ENGINEERING">
      <label for="field8"> Engineering, Math, & CS </label><br>
      <input type="checkbox" name="MEDICAL" value="MEDICAL">
      <label for="field9"> Medical & Life Sciences</label><br>
      <input type="checkbox" name="ARTS" value="ARTS">
      <label for="field10"> Literature</label><br>
      <input type="checkbox" name="THEATRE" value="THEATRE">
      <label for="field11"> Performing Arts</label><br>
      <input type="checkbox" name="VISUAL" value="VISUAL">
      <label for="field12"> Visual Arts</label><br>

      <br>
      <label for="minPrice"><b> MINIMUM PRICE </b> </label> <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">$</div>
        </div>
        <input type="text" class="form-control" id="minPrice" aria-describedby="" placeholder="Enter price">
      </div>
      <br>

      <b> GRADE </b> <br>
      <input type="checkbox" name="FROSH" value="FROSH">
      <label for="grade1"> FRESHMAN </label><br>
      <input type="checkbox" name="SOPH" value="SOPH">
      <label for="grade2"> SOPHOMORE </label><br>
      <input type="checkbox" name="JUNIOR" value="JUNIOR">
      <label for="grade3"> JUNIOR </label><br>
      <input type="checkbox" name="SENIOR" value="SENIOR">
      <label for="grade4"> SENIOR </label><br>

      <br>

      <b> GENDER </b> <br>
      <input type="checkbox" name="CO-ED" value="CO-ED">
      <label for="grade1"> CO-ED </label><br>
      <input type="checkbox" name="FEMALE" value="FEMALE">
      <label for="grade2"> FEMALE </label><br>
      </div>
      <br>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Show Results</button>
  </form>
</div>

<!--
<span class="bar">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Filter
      </button>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <select class="form-control" method="post" id="sort">
          <option type="hidden"> Select a Sort </option>
          <option value="dateposted-asc" id="dateposted-asc"> Date Created (↑)</option>
          <option value="dateposted-desc" id="dateposted-desc">Date Created (↓)</option>
          <option value="deadline-asc" id="deadline-asc"> Deadline (↑)</option>
          <option value="deadline-desc" id="deadline-desc"> Deadline (↓)</option>
          <option value="cost-asc" id="cost-asc"> Price (↑)</option>
          <option value="cost-desc" id="cost-desc"> Price (↓)</option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</span>
<br>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form action="" method="post">
      <div class="row">
        <div class="col-sm">
          <b> FIELD </b> <br>
          <input type="checkbox" name="ACADEMIC" value="ACADEMIC">
          <label for="field1"> Academic Programs </label><br>
          <input type="checkbox" name="BUSINESS" value="BUSINESS">
          <label for="field2"> Business & Jobs </label><br>
          <input type="checkbox" name="COMMUNITY" value="COMMUNITY">
          <label for="field3"> Community Service</label><br>
          <input type="checkbox" name="GOVT" value="GOVT">
          <label for="field4"> Govt & Law </label><br>
          <input type="checkbox" name="LEADERSHIP" value="LEADERSHIP">
          <label for="field5"> Leadership & Advocacy </label><br>
          <input type="checkbox" name="MUSEUMS" value="MUSEUMS">
          <label for="field6"> Museums & Art </label><br>
          <input type="checkbox" name="NATURE" value="NATURE">
          <label for="field7"> Parks, Zoos, & Nature </label><br>
          <input type="checkbox" name="ENGINEERING" value="ENGINEERING">
          <label for="field8"> Engineering, Math, & CS </label><br>
          <input type="checkbox" name="MEDICAL" value="MEDICAL">
          <label for="field9"> Medical & Life Sciences</label><br>
          <input type="checkbox" name="ARTS" value="ARTS">
          <label for="field10"> Literature</label><br>
          <input type="checkbox" name="THEATRE" value="THEATRE">
          <label for="field11"> Performing Arts</label><br>
          <input type="checkbox" name="VISUAL" value="VISUAL">
          <label for="field12"> Visual Arts</label><br>
        </div>

        <div class="col-sm">

          <label for="minPrice"><b> MINIMUM PRICE </b> </label> <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">$</div>
            </div>
            <input type="text" class="form-control" id="minPrice" aria-describedby="" placeholder="Enter price">
          </div>

          <br>

          <label for="maxPrice"><b> MAXIMUM PRICE </b> </label> <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">$</div>
            </div>
            <input type="text" class="form-control" id="maxPrice" aria-describedby="" placeholder="Enter price">
          </div>

          <br>

          <b> GRADE </b> <br>
          <input type="checkbox" name="FROSH" value="FROSH">
          <label for="grade1"> FRESHMAN </label><br>
          <input type="checkbox" name="SOPH" value="SOPH">
          <label for="grade2"> SOPHOMORE </label><br>
          <input type="checkbox" name="JUNIOR" value="JUNIOR">
          <label for="grade3"> JUNIOR </label><br>
          <input type="checkbox" name="SENIOR" value="SENIOR">
          <label for="grade4"> SENIOR </label><br>

          <br>

          <b> GENDER </b> <br>
          <input type="checkbox" name="CO-ED" value="CO-ED">
          <label for="grade1"> CO-ED </label><br>
          <input type="checkbox" name="FEMALE" value="FEMALE">
          <label for="grade2"> FEMALE </label><br>

          <br>
          <div class="text-right">
            <input type="submit" value="Show Results">
          </div>
    </form>
  </div>

</div>

-->

{% endblock %}
