 {% extends "template.html" %}

{% set active_page = active_page|default('resources') -%}

{% block title %}Resources{% endblock %}

{% set sort_options = [
  ('dateposted-desc', 'Date Created (Newest - Oldest)'),
  ('dateposted-asc', 'Date Created (Oldest - Newest)'),
  ] %}

{% block body %}

<!-- SIDENAV -->
<div class="side-container">
  <div class="sidenav">
    <form class="w-100" action="/resources" method="POST">
      <div class="d-flex flex-row justify-content-between">
        <span class="h5"><b>Refine Results</b></span>
        {% if body %}
        <a class="btn btn-outline-danger btn-sm w-25" href="/opportunities">Clear</a>
        {% endif %}
      </div>
      <hr>
      <input style="margin-bottom: 2vh;" class="form-control" type="search" name="search" placeholder="Search" aria-label="Search"
      {% if body %}
        value="{{ body['search'] }}"
      {% endif %}
      >
      <select style="margin-bottom: 2vh;" class="form-control" method="post" id="sort" name="sort">
        {% if body %}
          {% for value, display in sort_options %}
            <option value="{{ value }}"
              {% if body['sort'] == value %}
              selected
              {% endif %}
            >{{ display }}</option>
          {% endfor %}
        {% else %}
          {% for value, display in sort_options %}
            <option value="{{ value }}">{{ display }}</option>
          {% endfor %}
        {% endif %}
      </select>
      <button class="btn btn-outline-primary btn-sm w-100" type="submit">Show Results</button>
    </form>
  </div>
</div>

<!-- RESOURCES (right) -->
<div class="resources">
  {% for reso in res %}
  <div id="{{ reso.resourceID }}" class="resource-block">
    <br>
    <h3>{{ reso.title }}</h3>

    <hr>
    <!-- description -->
    <p>{{ reso.description }}</p>
    <!-- links -->
    <a href="{{ reso.link }}">{{ reso.link }}</a> <br>

    <br>
  </div>
  {% endfor %}
</div>

{% endblock %}
