{% extends "template.html" %}

{% set active_page = active_page|default('scholarships') -%}

{% block title %}Scholarships{% endblock %}

{% block heading %}
{{super()}}

<div class="sidenav">
  <form class="w-100" method="post">
    <h5> <b> Refine Results </b> </h5> <hr>
    <input style="margin-bottom: 2vh;" class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
    <select style="margin-bottom: 2vh;" class="form-control" method="post" id="sort" name="sort">
        <!-- <option type="hidden" value="default">Select a sort</option> -->
        <option value="dateposted-desc" id="dateposted-desc">Date Created (Newest - Oldest)</option>
        <option value="dateposted-asc" id="dateposted-asc"> Date Created (Oldest - Newest)</option>
        <option value="deadline-desc" id="deadline-desc"> Deadline (Most Recent - Least Recent)</option>
        <option value="deadline-asc" id="deadline-asc"> Deadline (Most Recent - Least Recent))</option>
        <option value="cost-desc" id="cost-desc"> Award ($ - $$$$)</option>
        <option value="cost-asc" id="cost-asc"> Award ($$$$ - $)</option>
    </select>

      <button class="btn btn-outline-primary btn-sm w-100" type="submit">Show Results</button>
  </form>
</div>

<br>

{% endblock %}

{% block body %}
{% for scholarship in scholars %}
{{scholarship.title}}
{% endfor %}
{% endblock %}
