body {
     padding: 5%;
}

.title {
     font-size: 72px;
     font-weight: bold;
     margin: 0;
}

.subtitle {
     font-size: 24px;
     margin: 0;
     font-style: italic;
}

.bar {
     font-size: 16px;
     font-style: normal;
}