{% extends "template.html" %}

{% block title %}caerus{% endblock %}

{% block heading %}
     <div class="row w-100">
          <div class="col-9">
               <span class="title">Caerus</span>
               <br> <span class="subtitle">All your opportunities, in one place.</span>
          </div>
          <div class="col-3 mt-auto" style="padding-right: 0;">
               <span class="float-right" style="padding: 0; margin: 0;">
                    <b>{{ user.name }}</b> &emsp; 
                    <img style="border-radius: 50%; height: 10vh; width: auto;" src="{{ user.imglink }}">
               </span>
          </div>
     </div>
     
      

     <hr>
 
     <span class="bar">
          <a class="bar-here" href="/opportunities">Opportunities</a> &emsp;
          <a href="/scholarships">Scholarships</a> &emsp;
          <a href="/resources">Resources</a> &emsp;
          <a href="/favorites">Favorites</a> &emsp;
          <a href="/preferences">Preferences</a> &emsp;
     </span>

{% endblock %}