{% extends "template.html" %}

{% block title %}caerus{% endblock %}

{% block heading %}
<h1 class="title">Caerus</h1>
<h1 class="subtitle">All your opportunities, in one place.</h1>

<hr>

<span class="bar">
     <a href="/opportunities">Opportunities</a> &emsp;
     <a class="bar-here" href="/scholarships">Scholarships</a> &emsp;
     <a href="/resources">Resources</a> &emsp;
     <a href="/favorites">Favorites</a> &emsp;
     <a href="/preferences">Preferences</a> &emsp;
</span>

{% endblock %}